<!-- Place Visit Details -->

<h1><%= @place["name"]%></h1>

<p><a href="/places"> Back to the list of Place I have Visited</a></p>


<p> Show the post details </p>


<a href="/posts/new">Add a New Post</a>

